<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_foot">
    <script type="text/javascript" th:src="@{/static/h-ui/lib/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui/lib/layer/3.1.1/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui/static/h-ui/js/H-ui.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui/static/h-ui.admin.pro.iframe/js/h-ui.admin.pro.iframe.js}"></script>
    <script type="text/javascript" th:src="@{/static/select2/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/common/js/common.js}"></script>
</div>

<div th:fragment="validator">
    <script type="text/javascript" th:src="@{/static/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
</div>

</html>