<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head(~{::title},~{},~{::style})">
    <title>[[${productName}]]</title>
    <style type="text/css">

    </style>
</head>
<body>
    <aside class="Hui-admin-aside-wrapper">
        <div class="Hui-admin-logo-wrapper">
            <a class="logo navbar-logo" href="javascript:void(0)">
                <span class="va-m">[[${productName}]]</span>
            </a>
        </div>

        <div class="Hui-admin-menu-dropdown bk_2">
            <dl th:each="menu : ${menus}" th:attr="id=${menu.id}" class="Hui-menu">
                <dt th:if="${not #lists.isEmpty(menu.subMenus)}" class="Hui-menu-title">
                    <i class="Hui-iconfont" th:text="${menu.icon}"></i>[[${menu.name}]] <i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd class="Hui-menu-item" th:if="${not #lists.isEmpty(menu.subMenus)}">
                    <ul>
                        <li th:each="secondMenu : ${menu.subMenus}">
                            <dl class="Hui-menu" th:if="${not #lists.isEmpty(secondMenu.subMenus)}">
                                <dt class="Hui-menu-title" th:text="${secondMenu.name}"><i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                                <dd class="Hui-menu-item">
                                    <ul>
                                        <li th:each="thirdMenu : ${secondMenu.subMenus}">
                                            <a href="javascript:void(0)" th:text="${thirdMenu.name}" th:if="${thirdMenu.name}" th:attrprepend="data-href=@{/}"
                                               th:attr="data-href=${thirdMenu.href},data-title=${thirdMenu.name},data-first=${menu.name},data-second=${secondMenu.name},data-third=${thirdMenu.name}"></a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <a th:text="${secondMenu.name}" th:if="${#lists.isEmpty(secondMenu.subMenus)}" th:attrprepend="data-href=@{/}"
                               th:attr="data-href=${secondMenu.href},data-title=${secondMenu.name},data-first=${menu.name},data-second=${secondMenu.name}" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                </dd>
                <dd class="Hui-menu-item-frist" th:if="${#lists.isEmpty(menu.subMenus)}">
                    <ul>
                        <li><a th:text="${menu.name}" th:attrprepend="data-href=@{/}" th:attr="data-href=${menu.href},data-title=${menu.name},data-first=${menu.name}" href="javascript:void(0)"></a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </aside>
    <div class="Hui-admin-aside-mask"></div>

    <div class="Hui-admin-dislpayArrow">
        <a href="javascript:void(0);" onClick="displaynavbar(this)">
            <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
            <i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
        </a>
    </div>

    <section class="Hui-admin-article-wrapper">
        <header class="Hui-navbar">
            <div class="navbar">
                <div class="container-fluid clearfix">
                    <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
                        <ul class="clearfix">
                            <li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">[[${user}]]<i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li><a th:href="@{/logout}">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="Hui-admin-tabNav" class="Hui-admin-tabNav">
            <div class="Hui-admin-tabNav-wp">
                <ul id="min_title_list" class="acrossTab clearfix" style="width: 241px; left: 0px;">
                </ul>
            </div>
            <div class="Hui-admin-tabNav-more btn-group" style="display: none;">
                <a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a>
                <a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a>
            </div>
        </div>

        <div id="iframe_box" class="Hui-admin-article">
        </div>
    </section>
    <div class="contextMenu" id="Huiadminmenu">
        <ul>
            <li id="closethis">关闭当前 </li>
            <li id="closeother">关闭其他 </li>
            <li id="closeall">关闭全部 </li>
        </ul>
    </div>
    <div th:replace="common/foot::common_foot"></div>
</body>
<script type="text/javascript" th:src="@{static/h-ui/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        openFirstMenu();
    });

    function openFirstMenu() {
        var _target = $(".Hui-admin-menu-dropdown a").first();
        $(_target).trigger('click');
        var _dt = $(_target).parent().parent().parent().prev('dt');
        if(_dt){
            var _dt2 = $(_dt).parent().parent().parent().parent().prev('dt');
            if(_dt2){
                $(_dt2).trigger('click');
            }
            $(_dt).trigger('click');
        }
    }
</script>
</html>