<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head(~{::title},~{::link},~{::style})">
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/static/treetable/css/treeTable.min.css}" />
    <style type="text/css">
        .btn{
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <nav th:replace="common/body::breadcrumb"></nav>
    <div class="Hui-admin-content clearfix">
    <shiroPermission name="sys:menu:edit">
        <div class="cl pd-5 bg-1 bk-gray">
            <span class="l"> <a class="btn btn-primary radius" href="javascript:;" onclick="addMenu()"><i class="Hui-iconfont">&#xe600;</i> 添加菜单</a> </span>
            <span class="l"> <a class="btn btn-success radius" href="javascript:;" onclick="updateSort()"><i class="Hui-iconfont">&#xe675;</i> 更新排序</a> </span>
        </div>
    </shiroPermission>
    <form id="listForm" method="post">
        <table id="treeTable" class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th>名称</th><th>链接</th><th style="text-align:center;">排序</th><th>可见</th><th>图标</th><th>权限标识</th><shiroPermission name="sys:menu:edit"><th>操作</th></shiroPermission>
            </tr>
            </thead>
            <tbody>
                <tr class="text-c" th:each="menu : ${list}" th:attr="id=${menu.id},pid=${menu.parent.id eq '1'?'0' : menu.parent.id}">
                    <td nowrap th:text="${menu.name}"></td>
                    <td th:title="${menu.href}" th:text="${menu.href}"></td>
                    <td th:title="${menu.sort}" style="text-align:center;">
                        <shiroPermission name="sys:menu:edit">
                            <input type="hidden" name="ids" th:value="${menu.id}"/>
                            <input name="sorts" type="text" th:value="${menu.sort}" class="input-text radius size-S" style="width:50px;margin:0;padding:0;text-align:center;">
                        </shiroPermission>
                        <shiroPermission name="sys:menu:edit" type="lack">
                            [[${menu.sort}]]
                        </shiroPermission>
                    </td>
                    <td><span class="label raduis" th:attrappend="class=${menu.isShow eq '1' ? ' label-success':''}">[[${menu.isShow eq '1'?'显示':'隐藏'}]]</span></td>
                    <td ><i class="Hui-iconfont" style="font-size: 24px">[[${menu.icon}]]</i></td>
                    <td th:title="${menu.permission}" th:text="${menu.permission}"></td>
                    <shiroPermission name="sys:menu:edit">
                        <td class="f-14">
                            <a title="编辑" style="text-decoration:none" th:onclick="editMenu([[${menu.id}]])"><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a title="删除" style="text-decoration:none" th:onclick="deleteMenu([[${menu.id}]])"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            <a title="添加下级菜单" style="text-decoration:none" th:onclick="addChildMenu([[${menu.id}]])"><i class="Hui-iconfont">&#xe604;</i></a>
                        </td>
                    </shiroPermission>
                </tr>
            </tbody>
        </table>
    </form>
</div>


    <div th:replace="common/foot::common_foot"></div>
</body>
<script type="text/javascript" th:src="@{/static/treetable/js/jquery.treeTable.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#treeTable").treeTable({expandLevel : 1}).show();
    });

    function addMenu(){
        var title = '添加菜单';
        var url = "[[@{/sys/menu/form}]]";
        layer_show_full(title,url);
    }

    function editMenu(id){
        var title = '编辑菜单';
        var url = "[[@{/sys/menu/form?id=}]]"+id;
        layer_show_full(title,url);
    }

    function deleteMenu(id){
        var url = "[[@{/sys/menu/delete?id=}]]"+id;
        removeItemAndRefresh(url);
    }

    function addChildMenu(parentId){
        var title = '添加子级菜单';
        var url = "[[@{/sys/menu/form?parent.id=}]]"+parentId;
        layer_show_full(title,url);
    }

    function updateSort() {
        var data = $("#listForm").serialize();
        $.ajax({
            url: '[[@{/sys/menu/updateSort}]]',
            type: 'POST',
            data: data,
            beforeSend:function(){
                layer.load(1,{shade: [0.8, '#393D49']});
            },
            success:function(data){
                layer.close(layer.index);
                layer.msg(data.msg,{time:1000})
                if(0==data.code){
                    setTimeout(function(){
                        window.location.reload();
                    },1000);

                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(){
                layer.close(layer.index);
                layer.msg('操作异常 ,请稍后重试');
            }
        });
    }

</script>
</html>