<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head(~{::title},_,~{::style})">
    <title>用户管理</title>
    <style type="text/css">
        body{
            min-height: 98%;
        }

        .form{
            padding: 1%;
        }
    </style>
</head>
<body>
<form id="inputForm" th:object="${user}" th:action="@{/sys/user/save}" method="post" class="form form-horizontal">
    <input type="hidden" th:field="*{id}"/>
    <div id="error-box" class="text-l"></div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>归属公司：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <sys:treeselect id="company" name="company.id" value="${user.company.id}" labelName="company.name" labelValue="${user.company.name}"
                            title="公司" url="/sys/office/treeData?type=1" cssClass="input-text required"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>归属部门：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <sys:treeselect id="office" name="office.id" value="${user.office.id}" labelName="office.name" labelValue="${user.office.name}"
                            title="部门" url="/sys/office/treeData?type=2" cssClass="input-text required" notAllowSelectParent="false"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工号：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input th:field="*{no}" htmlEscape="false" maxlength="50" class="input-text required"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input th:field="*{name}" htmlEscape="false" maxlength="50" class="required input-text"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录名：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input id="oldLoginName" name="oldLoginName" type="hidden" th:value="*{loginName}">
            <input th:field="*{loginName}" htmlEscape="false" maxlength="50" class="required userName input-text"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span th:if="*{#strings.isEmpty(id)}" class="c-red">*</span>密码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input id="newPassword" name="newPassword" type="password" value="" maxlength="50" minlength="3" class="${empty user.id?'required':''} input-text"/>
            <span th:if="*{not #strings.isEmpty(id)}" class="help-inline">若不修改密码，请留空。</span>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span th:if="*{#strings.isEmpty(id)}" class="c-red">*</span>确认密码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input id="confirmNewPassword" name="confirmNewPassword" type="password" value="" maxlength="50" minlength="3" equalTo="#newPassword" class="input-text"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">邮箱：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input th:field="*{email}" htmlEscape="false" maxlength="100" class="input-text email"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">电话：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input th:field="*{phone}" htmlEscape="false" maxlength="100" class="input-text"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">手机：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input th:field="*{mobile}" htmlEscape="false" maxlength="100" class="input-text"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">是否允许登录：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <select th:field="*{loginFlag}">
                <options items="${fns:getDictList('yes_no')}" itemLabel="label" itemValue="value" htmlEscape="false"/>
            </select>
            <span class="help-inline">“是”代表此账号允许登录，“否”则表示此账号不允许登录</span>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户角色：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <div class="check-box" th:each="r : ${allRoles}">
                <input type="checkbox" th:value="${r.id}" th:id="${r.id}" name="roleIdList" >
                <label th:for="${r.id}" th:text="${r.name}"></label>
            </div>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">备注：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <textarea th:field="*{remarks}" htmlEscape="false" rows="3" maxlength="200" class="textarea"/>
        </div>
    </div>
    <c:if test="${not empty user.id}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">创建时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label class="lbl"><fmt:formatDate value="${user.createDate}" type="both" dateStyle="full"/></label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">最后登陆：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label class="lbl">IP: ${user.loginIp}&nbsp;&nbsp;&nbsp;&nbsp;时间：<fmt:formatDate value="${user.loginDate}" type="both" dateStyle="full"/></label>
            </div>
        </div>
    </c:if>
    <div class="row cl">
        <div class="text-c">
            <shiroPermission name="sys:user:edit"><input id="btnSubmit" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;"/>&nbsp;</shiroPermission>
            <input id="back_btn" class="btn btn-default radius" type="button" value="&nbsp;&nbsp;返回&nbsp;&nbsp;"/>
        </div>
    </div>
</form>
<div th:replace="common/foot::common_foot"></div>
<div th:replace="common/foot::validator"></div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var hasRoles = '[(${hasRoles})]';

        $('.check-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        initRoleCheck(hasRoles);

        $("#back_btn").click(function(){
            layer_close();
        });

        $("#no").focus();
        $("#inputForm").validate({
            onsubmit:function(element) {
                $(element).valid();
            },
            rules: {
                roleIdList: {required:true},
                loginName: {remote: "[[@{/sys/user/checkLoginName?oldLoginName=}]]" + encodeURIComponent('[[${user.loginName}]]')}
            },
            messages: {
                roleIdList: {required:"请选择用户角色"},
                loginName: {remote: "用户登录名已存在"},
                confirmNewPassword: {equalTo: "输入与上面相同的密码"}
            },
            submitHandler: function(form){
                submitForm(form);
            },
            errorContainer: "#messageBox",
            errorPlacement: function(error, element) {
                $("#messageBox").text("输入有误，请先更正。");
                if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
                    error.appendTo($('#error-box'));
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });

    function initRoleCheck(hasRoles){
        if(hasRoles){
            var roles = hasRoles.split(',');
            $('.check-box input').each(function(ind,ele){
                if(roles.includes($(ele).attr('id'))){
                    $(ele).iCheck('check');
                }
            });
        }
    }
</script>
</html>